.card-img-top {
  width: 100% !important;
  height: 250px !important;     /* välj samma höjd på alla */
  object-fit: cover !important; /* skär bilden istället för att pressa den */
}

.nav-underline .nav-link {
  color: #fff !important; /* vit text */
}

.card {
  
}


@media (max-width: 768px) {
  .text-first {
  text-align: center;
}

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}